<div class="fill row">
  <mat-slider
    thumbLabel
    min="0"
    max="15"
    step="1"
    class="fill center-row"
    tickInterval="2"
    (change)="verifyInput()"
    [(ngModel)]="transition_time"
  ></mat-slider>

  <mat-form-field appearance="standard" class="space">
    <mat-label>Time</mat-label>
    <input
      matInput
      class="header-length"
      type="number"
      min="0"
      max="15"
      step="1"
      placeholder="Insert time here"
      (change)="verifyInput()"
      [(ngModel)]="transition_time"
    />
    <p matSuffix>{{ suffix }}</p>
    <mat-hint>Between 0 - 15</mat-hint>
  </mat-form-field>
</div>
