<div class="page">
  <div class="subpage center-children">
    <h1>Join Code</h1>
    <h1>{{ hostService.getJoinCode() || "Loading..." }}</h1>
    <button mat-raised-button (click)="hostService.start()">Start</button>
    <button mat-raised-button (click)="hostService.end()">End</button>
  </div>

  <!-- <mat-divider vertical="true"></mat-divider> -->

  <div class="subpage center-children">
    <img
      src="../../../assets/images/logo-borderless.png"
      alt="logo"
      width="200px"
    />
    <h1>Players ({{ hostService.getPlayers().length || 0 }})</h1>
    <player-list class="fill"></player-list>
  </div>
</div>
